body {
  margin: 8%;
  background-color: white;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 64px;
  font-weight: bold;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

/* Implementing dropcap */
p:first-of-type:first-letter {
    float: left;
    font-size: 45px;
    line-height: 1;
    font-weight: bold;
    margin-right: 9px;
}

/* For featured articles */
.overline { font-family: 'Montserrat', sans-serif; font-weight: 300; font-size: 16px; margin:0; padding:0;}
.title { color: black; font-weight: bold; margin:0; padding:0; font-size: 40px; background-color:rgb(241,197,154)}
.authordate { font-size: 20px; margin:0; padding:0;}

/* Makes full width (ignores margins) */
.full-width { width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw;
}

