body {
  margin: 5%;
  background-color: rgb(240,240,240);
  font-family: arial, sans-serif;
  font-size: 24px;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 64px;
  font-weight: bold;
  margin-top: 5px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

/* Applies to all elements with <... class="someclass"> specified. */
.overline { color: red; }

