/* Force landscape on mobile */
#warning-message { display: none; }

    @media only screen and (orientation:portrait){

        #wrapper { display:none; }

        #warning-message { display:block; }

    }

    @media only screen and (orientation:landscape){

        #warning-message { display:none; }

    }

body {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0 !important;
  padding-top: 0 !important;
  background-color: white;
  font-family: 'Playfair Display', serif;
  font-size: 2.4vw;
  text-align: justify;
  text-justify: inter-word;
}

a {
    color: black;
    target="_blank";
}

a:hover {
    text-decoration: none;
}

h1 {
  font-size: 7vw;
  font-weight: bold;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 2.4vw;
  font-weight: bold;
}

h3 {
  font-size: 2vw;
  font-weight: normal;
}

/* For sections */
section {
    padding-top:40px;
}
.year {position:absolute; text-align: justify; color: white; margin-left: 10%; margin-right:40%; margin-top:5vh}
.year h1 {font-size:10vw}
.year a {z-index:10; color: white}
.year a:hover {text-decoration: none}
.year p {font-size: 2.5vw}

/* Images*/
figure {
    z-index: -1;
}

figcaption {
  padding: 2px;
  text-align: right;
  font-family: 'Montserrat', san-serif;
  font-size: 1.6vw;
}

.credit {
  font-color: grey;
  font-size: 1.2vw;
  font-weight: 300;
}

/* Implementing dropcap */
#first-par p:first-of-type:first-letter {
    float: left;
    font-size: 11vw;
    line-height: 1;
    font-weight: bold;
    margin-right: 2vw;
    margin-top: -1vw;
    margin-bottom: -1vw;
}

/* For featured articles */
.box:nth-child(odd) {
    background-color: white;
}
.box:nth-child(even) {
    background-color: rgb(235,235,235);
}
.article {margin-left: 15%; margin-right: 15%; padding-top: 2vw; padding-bottom: 2vw; text-align: left;}
.article h1 { color: black; font-weight: bold; margin:0; padding:0; font-size: 3vw;}
.article h3 { font-family: 'Montserrat', sans-serif; font-weight: 300; font-size: 1.6vw; margin:0; padding:0;}
.article h2 { font-size: 1.6vw; font-weight: normal; margin:0; padding:0;}
.article p {font-size: 2.4vw; color: rgb(80,80,80);}
.article a:hover {color: #e77500; text-decoration: underline}

.box-dark {background-color: black; height: 12vw}
.article-dark {padding-top: 2vw; padding-bottom: 2vw; text-align: right; height: 12vw;}
.article-dark h1 { color: white; font-weight: bold; margin:0; padding:0; font-size: 3vw;}
.article-dark h3 { color: white; font-family: 'Montserrat', sans-serif; font-weight: 300; font-size: 1.6vw; margin:0; padding:0;}
.article-dark h2 { color: white; font-size: 1.6vw; font-weight: normal; margin:0; padding:0;}
.article-dark p {color: white; font-size: 2.4vw}
.article-dark a {color: white}
.article-dark a:hover {color: #f58025; text-decoration: underline}


.right-arrow {
  margin-left: 2%;
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10vh;
}
.right-arrow:hover {
  opacity:0.8;
}
.vertical-line{
  border-left: 1px white;
  height: 35vh;
}

/* Makes full width (ignores margins) */
.full-width, .box { width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw;
}

/* Makes vertical center */
.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* TITLE PAGE */

/* social media buttons */
.fa {
  padding: 1vw;
  font-size: 3vw;
  width: 3vw;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
  background-color: black;
  color: white;
  opacity: 0.5;
}

.fa:hover{
    opacity: 0.8;
}

.scroll-arrow {
    position: absolute;
    top: 85vh;
    text-align: center;
    z-index: 999;
}
.pulsing {
    animation: pulse 2s;
    animation-iteration-count: infinite;
}
.arrow:hover {
    opacity: 0.8;
}
@-webkit-keyframes pulse {
    0%   {opacity: 1.0;}
    40%  {opacity: 0.3;}
    60%  {opacity: 0.3;}
    100% {opacity: 1.0;}
}
@keyframes pulse {
    0%   {opacity: 1.0;}
    40%  {opacity: 0.3;}
    60%  {opacity: 0.3;}
    100% {opacity: 1.0;}
}

.title-page {
    position: absolute;
        z-index: 999;        
        text-align: center;
        top: 10vh; /* Adjust this value to move the positioned div up and down */
        font-family: "Montserrat", sans-serif;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 35vw;
  margin-right: 35vw;
  border: 2px solid #e77500;
}

header img{
    opacity: 0.5;
}

header img:hover {
    opacity: 0.8;
}

/* For animating names */

#names {
  margin-top: 0px;
  background-color: white;
  color: lightgrey;
  font-size: calc(0.5vw + 0.5vh);
  z-index: 1; /* so the navbar doesn't appear */
}
.fading {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name: fading;
    animation-duration: 1.5s;
    animation-name: fading;
}
@-webkit-keyframes fading {
    0%   {color: lightgrey;}
    30%  {color: rgb(127,127,127);}
    70%  {color: rgb(127,127,127);}
    100% {color: lightgrey;}
}
@keyframes fading {
    0%   {color: lightgrey;}
    30%  {color: rgb(127,127,127);}
    70%  {color: rgb(127,127,127);}
    100% {color: lightgrey;}
}

/* For navbar */
nav {
    font-family: "Montserrat", sans-serif;
    z-index: 999;
    font-size: 1.7vw;
}
nav .active{
  font-weight: bold;
}
.navbar {
    text-align: center;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
}
.nav {
    margin: 0px;
    background-color: white;
    opacity: 0.85;
}
nav a {
    color:black;
    text-decoration:none;
    padding: 1vw;
}
nav a:hover {
    font-weight: bold;
}
li {
    display:inline-block;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

/* form for preorder */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #e77500;
  opacity: 1.0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  opacity: 0.8
}

.preorder {
  background-color: white;
  margin-left: 3vw;
  font-family: 'Montserrat', sans-serif;
  border-top: 2px solid black;
}
.preorder p {
    font-family: 'Playfair Display', serif;
  font-size: 1.5vw;  
}

footer {
    background-color: rgb(235,235,235);
}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6vw;
}

/* to get things to center */
.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
